assets/data/validate/prayerBooks.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="prayer_books">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="prayer_book" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>title, and rubric can only be used 1x per parent</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="service" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="title" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="section" maxOccurs="unbounded" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>section visibility: hidden will not display the section. but it will be linked to at another point in the service.section visibility: collapsed will show the title and on tap will display the section in fullsection visibility: indexed will show first lines of children with link to display full contents of a single child</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0" >
                          <xs:element type="xs:string" name="title">
                            <xs:annotation>
                              <xs:documentation>major_header is an additional option. Primary use would be to separate the liturgy of the Word and from the Table.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element type="xs:string" name="major_header" maxOccurs="1"/>
                          <xs:element type="xs:byte" name="number" maxOccurs="1"/>
                          <xs:element type="xs:string" name="rubric" maxOccurs="1"/>
                          <xs:element name="item">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:byte" name="number" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="xs:string" name="title" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="xs:string" name="ref" minOccurs="0" maxOccurs="1"/>
                                <xs:element type="xs:string" name="reading" minOccurs="0"/>
                                <xs:element name="stanza" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="verse" use="optional"/>
                                        <xs:attribute type="xs:byte" name="indent" use="optional"/>
                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="who" use="optional"/>
                              <xs:attribute type="xs:string" name="type" use="optional"/>
                              <xs:attribute type="xs:string" name="includeGloria" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                        <xs:attribute type="xs:string" name="sectionType" use="optional"/>
                        <xs:attribute type="xs:string" name="visibility" use="optional"/>
                        <xs:attribute type="xs:string" name="apiName" use="optional"/>
                        <xs:attribute type="xs:string" name="link" use="optional"/>
                        <xs:attribute type="xs:string" name="schedule" use="optional"/>
                        <xs:attribute type="xs:string" name="type" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="apiName" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="apiName" use="optional"/>
            <xs:attribute type="xs:string" name="language" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
