assets/wlp_format/validate/prayerBooks.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="prayer_books">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="revisions" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="version" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="date"/>
                    <xs:element type="xs:float" name="number"/>
                    <xs:element type="xs:string" name="notes"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="prayer_book" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title">

                <xs:annotation>
                  <xs:documentation>title, and rubric can only be used 1x per parent</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="service" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="titleShort" minOccurs="0"/>
                    <xs:element name="section" maxOccurs="unbounded" minOccurs="1">
                      <xs:annotation>
                        <xs:documentation>section visibility: hidden will not display the section. but it will be linked to at another point in the service.section visibility: collapsed will show the title and on tap will display the section in fullsection visibility: indexed will show first lines of children with link to display full contents of a single child</xs:documentation>
                      </xs:annotation>
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="major_header" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>major_header is an additional option. Sample use would be to separate the liturgy of the Word and from the Table.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="number" type="xs:string"  minOccurs="0"/>
                          <xs:element type="xs:string" name="title"  minOccurs="0"/>
                          <xs:element type="xs:string" name="rubric"  minOccurs="0"/>
                          <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="title"  minOccurs="0"/>
                                <xs:element type="xs:string" name="ref"  minOccurs="0"/>
                                <xs:element name="stanza" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="verse" use="optional"/>
                                        <xs:attribute name="type" use="optional">
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">

                                              <xs:enumeration value="gloria"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>

                                        <xs:attribute type="xs:byte" name="indent" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="who" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="people"/>
                                    <xs:enumeration value="leader"/>
                                    <xs:enumeration value="minister"/>
                                    <xs:enumeration value="bishop"/>
                                    <xs:enumeration value="all"/>
                                    <xs:enumeration value="reader"/>
                                    <xs:enumeration value="other"/>
                                    <xs:enumeration value="leaderOther"/>
                                    <xs:enumeration value="peopleOther"/>
                                    <xs:enumeration value="question"/>
                                    <xs:enumeration value="answer"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="type" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="versedStanzas"/>
                                    <xs:enumeration value="stanzas"/>
                                    <xs:enumeration value="rubric"/>
                                    <xs:enumeration value="title"/>
                                    <xs:enumeration value="lectionaryReading"/>
                                    <xs:enumeration value="biblePassage"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute type="xs:string" name="other" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="collect" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence >
                                <xs:element type="xs:string" name="title" />
                                <xs:element type="xs:string" name="subtitle" minOccurs="0"/>
                                <xs:element type="xs:string" name="color" minOccurs="0"/>
                                <xs:element type="xs:string" name="ref" minOccurs="0"/>
                                <xs:element type="xs:string" name="type" minOccurs="0"/>
                                <xs:element type="xs:string" name="date" minOccurs="0"/>


                                <xs:element type="xs:string" name="collect_rubric" minOccurs="0" />
                                <xs:element name="collect" minOccurs="0" maxOccurs="unbounded" >
                                  <xs:complexType mixed="true" >
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="stanza" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="type" use="optional">

                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="post_communion_rubric" minOccurs="0"/>

                                <xs:element name="post_communion_prayer" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="stanza" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                  </xs:complexType>
                                </xs:element>

                              </xs:sequence>
                              <xs:attribute type="xs:string" name="id" use="optional"/>
                              <xs:attribute type="xs:string" name="altId" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="sectionType" use="optional"/>
                        <xs:attribute name="visibility" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="hidden"/>
                              <xs:enumeration value="collapsed"/>
                              <xs:enumeration value="indexed"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                        <xs:attribute type="xs:string" name="schedule" use="optional"/>
                        <xs:attribute type="xs:string" name="type" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
            <xs:attribute type="xs:string" name="language" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
